.grilla {
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "carousel carousel carousel"
    "presentacion presentacion presentacion"
    "categorias categorias categorias"
    "footer footer footer";
    grid-template-columns: 200px 300px;
    grid-template-rows: auto auto auto auto;
    row-gap: 35px;
  }
 
  #menu{
     grid-area: nav;
  }
 
 #carousel_index{
    grid-area: carousel;
 }
 
 #presentacion_uno{
    grid-area: presentacion;
 }
 
  #categorias{
     grid-area: categorias;
  }
  
  
  #footer{
     grid-area: footer;
  }
 
 .borderUno {
    border: 0px solid black;
 
 }

 @media only screen and (max-width: 1024px){
    .galeria{
      img{
         width: 250px;
         height: 250px;
      }
      #logo{
         height: auto;
         width: auto;
      }
    }
 }

 @media only screen and (max-width: 800px){
     .grilla{
      display: grid;
      grid-template-areas: 
      "nav"
      "carousel"
      "presentacion"
      "categorias"
      "footer" ;
      grid-template-columns: auto ;
      grid-template-rows: auto auto auto auto auto;
      row-gap: 20px;
     }
}
 
 .grillaDos{
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "productos productos productos"
    "footer footer footer";
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 50px;
 }
 
 #menuDos{
    grid-area: nav;
 }
 
 #categoriaDos{
    grid-area: categorias;
 }
 
 #productosDos{
    grid-area: productos;
 }
 
 #footerDos{
    grid-area: footer;
 }

 @media  screen and (max-width: 876px) {
   .grillaDos{
      display: grid;
      grid-template-areas: 
    "nav"
    "categorias" 
    "productos"
    "footer" ;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
    row-gap: 20px;
   }
   
   .galeriaDos{
      div{
         align-items: center;
         width: 100%;
         margin: auto;
         padding: auto;
      }
      img{
         align-items: center;
         
         width: 400px;
         height: 350px;      
         margin-left: 60px;
      }
      p{
         width: 400px;
         margin-left: 60px;
      }
   }
   
   .galeriaDos_chica{
      div{
         align-items: center;
         width: 100%;
         margin: auto;
         padding: auto;
      }
      img{
         align-items: center;
         
         width: 400px;
         height: 350px;      
         margin-left: 60px;
      }
      p{
         width: 400px;
         margin-left: 60px;
      }
   }
      
}

 @media only screen and (max-width: 976px) {
   .grillaDos{
      display: grid;
      grid-template-areas: 
    "nav"
    "categorias" 
    "productos"
    "footer" ;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
    row-gap: 20px;
   }

    
 }
 
 @media only screen and (max-width: 1024px){
     .grillaDos{
      display: grid;
      grid-template-areas: 
    "nav"
    "categorias" 
    "productos"
    "footer" ;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
    row-gap: 20px;
   }
 }


 
 .grillaTres{
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "carousel carousel carousel"
    "productos productos productos"
    "footer footer footer";
    grid-template-columns: 200px 300px auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
 }
 
 #menuTres{
    grid-area: nav;
 }
 
 #carousel_promocion{
    grid-area: carousel;
 }
 
 
 #productosTres{
    grid-area: productos;
 }
 
 #footerTres{
    grid-area: footer;
 }
 
 @media only screen and (max-width: 800px){
     .grillaTres{
         display: grid;
         grid-template-areas: 
       "nav"
       "carousel"
       "productos"
       "footer" ;
       grid-template-columns: auto ;
       grid-template-rows: auto auto auto auto;
       row-gap: 20px;
     }
     nav ul li a{
        margin: 0px
     }
 }


 @media only screen and (max-width: 940px){
    .galeriaTres{
      div{
         align-items: center;
         width: 100%;
         margin: auto;
         padding: auto;
      }
      img{
         align-items: center;
         
         width: 330px;
         height: 350px;      
         margin-left: 80px;
      }
      p{
         width: 330px;
         margin-left: 80px;
      }
    }
 }

 @media only screen and (width: 1024px){
   .galeriaTres{
     div{
        align-items: center;
        width: 100%;
        margin: auto;
        padding: auto;
     }
     img{
        align-items: center;
        
        width: 280px;
        height: 350px;      
        margin-left: 35px;
     }
     p{
        width: 280px;
        margin-left: 35px;
        
     }
   }
}

@media only screen and (width: 1440px){
   .galeriaTres{
     div{
        align-items: center;
        width: 100%;
        margin: auto;
        padding: auto;
     }
     img{
        align-items: center;
        
        width: 280px;
        height: 350px;      
        margin-left: 65px;
     }
     p{
        width: 280px;
        margin-left: 65px;
        
     }
   }
}

 
 .grillaCuatro{
    display: grid;
    grid-template-areas:
    "nav nav"
    "titulo titulo"
    "formulario formulario"
    "footer footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
 }
 #menuCuatro{
    grid-area: nav;
 }
 
 #tituloCuatro{
    grid-area: titulo;
 }
 
 #formulario{
    grid-area: formulario;
 }
 
 #footerCuatro{
    grid-area: footer;
 }
 
 @media only screen and (max-width: 800px){
     .grillaCuatro{
         display: grid;
         grid-template-areas: 
       "nav"
       "titulo"
       "formulario"
       "footer" ;
       grid-template-columns: auto ;
       grid-template-rows: auto auto auto auto;
       row-gap: 20px;
     }
     .containerContactos{
      display: flex;
      flex-direction: column;   
      background-color: rgba(158, 160, 157, 0.596);
      justify-content: center;
     }
     
 
 }
 
 .grillaCinco{
    display: grid;
    grid-template-areas:
    "nav nav "
    "presentacion presentacion "
    "footer footer ";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
 }
 
 #menuCinco{
    grid-area: nav;
 }
 
 #presentacion_dos{
    grid-area: presentacion;
 }
 
 #footerCinco{
    grid-area: footer;
 }
 
 @media only screen and (max-width: 800px){
     .grillaCinco{
         display: grid;
         grid-template-areas: 
       "nav"
       "presentacion"
       "footer";
       grid-template-columns: auto ;
       grid-template-rows: auto auto auto auto;
       row-gap: 20px;
     }
 
 }

